flows.json
[{"id":"3acea94.149db56","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ff1834f7.db4f48","type":"ibmiot in","z":"3acea94.149db56","authentication":"apiKey","apiKey":"9b51d098.76ce","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":240,"wires":[["e8d2918f.d6329"]]},{"id":"e8d2918f.d6329","type":"function","z":"3acea94.149db56","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["e9eb06c3.4730a8","408fa613.4054e8","73a2e614.5ca5f8"]]},{"id":"60a15eb1.6d251","type":"ui_gauge","z":"3acea94.149db56","name":"","group":"32cbbc05.aa1914","order":2,"width":0,"height":0,"gtype":"donut","title":"TEMPERATURE","label":"celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":123,"wires":[]},{"id":"e9eb06c3.4730a8","type":"function","z":"3acea94.149db56","name":"temperature","func":"var temp=global.get('temperature')\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["60a15eb1.6d251","14c3b6e6.7da379"]]},{"id":"730aa9f5.0e5f88","type":"ui_gauge","z":"3acea94.149db56","name":"","group":"32cbbc05.aa1914","order":4,"width":0,"height":0,"gtype":"gage","title":"SOIL MOISTURE","label":"Percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":240,"wires":[]},{"id":"3ac55941.0eb0d6","type":"ui_gauge","z":"3acea94.149db56","name":"","group":"32cbbc05.aa1914","order":6,"width":0,"height":0,"gtype":"gage","title":"OBJTEMP","label":"Celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":320,"wires":[]},{"id":"408fa613.4054e8","type":"function","z":"3acea94.149db56","name":"humidity","func":"var hum=global.get('humidity')\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["730aa9f5.0e5f88","4bd845cd.a3889c","494e6e5.64bad9"]]},{"id":"73a2e614.5ca5f8","type":"function","z":"3acea94.149db56","name":"obj","func":"var obj=global.get('objectTemp')\nreturn{payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["3ac55941.0eb0d6","63033a78.ceca54"]]},{"id":"14c3b6e6.7da379","type":"ui_chart","z":"3acea94.149db56","name":"","group":"d25c7e5d.5890a","order":5,"width":0,"height":0,"label":"Temp chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":60,"wires":[[]]},{"id":"4bd845cd.a3889c","type":"ui_chart","z":"3acea94.149db56","name":"","group":"d25c7e5d.5890a","order":6,"width":0,"height":0,"label":"Humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":280,"wires":[[]]},{"id":"63033a78.ceca54","type":"ui_chart","z":"3acea94.149db56","name":"","group":"d25c7e5d.5890a","order":7,"width":0,"height":0,"label":"Object Temp chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":380,"wires":[[]]},{"id":"a7e81a43.a88738","type":"ui_button","z":"3acea94.149db56","name":"","group":"81c92903.4ac1b8","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"alert-orange","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":240,"y":600,"wires":[["9c7397b0.810388","84832a6c.e6a608"]]},{"id":"e3951464.bfb888","type":"ui_button","z":"3acea94.149db56","name":"","group":"81c92903.4ac1b8","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":250,"y":700,"wires":[["9c7397b0.810388","84832a6c.e6a608"]]},{"id":"9c7397b0.810388","type":"ibmiot out","z":"3acea94.149db56","authentication":"apiKey","apiKey":"9b51d098.76ce","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":639,"wires":[]},{"id":"37a9cb25.d4e914","type":"ui_text","z":"3acea94.149db56","group":"d306d0a6.cb229","order":3,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":899,"wires":[]},{"id":"5f15dcb2.798a74","type":"ui_text","z":"3acea94.149db56","group":"d306d0a6.cb229","order":4,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":1000,"wires":[]},{"id":"41faf653.4bb018","type":"function","z":"3acea94.149db56","name":"","func":"msg.payload=(5/9)*(msg.payload.main.temp-32)\nmsg.payload=msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":895,"wires":[["37a9cb25.d4e914"]]},{"id":"fc111fc6.00636","type":"function","z":"3acea94.149db56","name":"","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1000,"wires":[["5f15dcb2.798a74"]]},{"id":"267cebc5.4b8a14","type":"inject","z":"3acea94.149db56","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["30504450.0c3dac"]]},{"id":"30504450.0c3dac","type":"http request","z":"3acea94.149db56","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=haveri,karnataka&units=imperial&appid=008448ad595a3ade92f5c72205107c91","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":980,"wires":[["41faf653.4bb018","fc111fc6.00636"]]},{"id":"494e6e5.64bad9","type":"function","z":"3acea94.149db56","name":"ON/OFF MOTOR","func":"var humidity=global.get('humidity')\n \nif(humidity>=20 && humidity<=40)\n{msg.payload=\"Water level is low, on motor\"\n\n}\nelse if(humidity>80 )\n{msg.payload=\"Required ammount of water irrigated, off motor\"\n\n\n}else if(humidity<20 )\n{msg.payload=\"warning!!!! water level is too low, on motor \"\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["e96ae240.16227"]]},{"id":"7c764833.36b788","type":"ui_audio","z":"3acea94.149db56","name":"","group":"32cbbc05.aa1914","voice":"en-GB","always":true,"x":900,"y":120,"wires":[]},{"id":"e96ae240.16227","type":"trigger","z":"3acea94.149db56","op1":"","op2":"{\"command\":\"motoron\"}","op1type":"pay","op2type":"json","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":870,"y":200,"wires":[["7c764833.36b788"]]},{"id":"a9d9349f.f81e88","type":"ui_toast","z":"3acea94.149db56","position":"top right","displayTime":"2","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":660,"y":760,"wires":[]},{"id":"84832a6c.e6a608","type":"function","z":"3acea94.149db56","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["a9d9349f.f81e88"]]},{"id":"9b51d098.76ce","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"35du8w.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"32cbbc05.aa1914","type":"ui_group","z":"","name":"status","tab":"c3491754.38e0c8","order":2,"disp":false,"width":"5","collapse":false},{"id":"d25c7e5d.5890a","type":"ui_group","z":"","name":"Track","tab":"f7703e79.82437","order":1,"disp":false,"width":"6","collapse":false},{"id":"81c92903.4ac1b8","type":"ui_group","z":"","name":"Motor","tab":"c3491754.38e0c8","order":11,"disp":false,"width":"6","collapse":false},{"id":"d306d0a6.cb229","type":"ui_group","z":"","name":"Api","tab":"c3491754.38e0c8","order":7,"disp":false,"width":"5","collapse":false},{"id":"c3491754.38e0c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f7703e79.82437","type":"ui_tab","z":"","name":" Chart Status","icon":"dashboard","disabled":false,"hidden":false}]